body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	background-color: #CEF6F5;
}
/*----------------------------------banner y navbar--------------------------*/
#banner {
	width: 100%;
	position: fixed;
	background-color: #070719;
	padding-top: 1em;
}

span {
	padding: 0.5em 2em;
}
.img-logo{
	padding-bottom: 0.5em;
}

ul {
	list-style: none;
	text-align: right;
	margin-right: 2em;
}

li {
	display: inline-block;
	padding-right: 1em;
}

a {
	text-decoration: none;
	color: #FE2E2E;
}

#imgcover {
	background-image: url("../img/banner.jpg");
	background-size: cover;
	padding-top: 10%;
}

h1 {
	position: static;
	margin-bottom: 1em;
	font-size: 500%;
	color: #FE2E2E;
  text-align: center;
	font-family: 'Berkshire Swash', cursive;
}
/*-------------------------------Contenido----------------------------------*/
#text-content, p{
	margin-top: 1em;
	font-size: 120%;
}

/*--------------------------------Demo-------------------------------------*/
#img-container{
	border: 1px solid blue;
	width: 100vh;
	height: 100vh;
}
#main {
							 margin-top: 100px;
							 text-align: center;
					 }
					 #canvas {
							 background-color: #000;
							 height: 600px;
							 width: 800px;
