html{
	overflow-x: hidden;
}
body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	background-color: #CEF6F5;
}
/*----------------------------------banner y navbar--------------------------*/
#banner {
	padding-top: 0.5em;
	width: 100%;
	position: static;
	background-color: #0A0A2A;
	/*padding-top: 1em;*/
}
span{
	padding: 0.5em 2em;
}
ul {
	padding-top: 1.5em;
	list-style: none;
text-align: right;
	margin-right: 2em;
}

li {
	display: inline-block;
	padding-right: 1em;
}

a {
	text-decoration: none;
	color: #DF7401;
}

#imgcover {
	background-image: url("../img/banner.jpg");
	background-size: cover;
	padding-top: 10%;
}

h1 {
	position: static;
	margin-bottom: 1em;
	font-size: 500%;
	color: #DF7401;
  text-align: center;
	font-family: 'Berkshire Swash', cursive;
}
/*-------------------------------Contenido----------------------------------*/
#text-content, p{
	margin-top: 1em;
	font-size: 120%;
}
.btn{
	margin-left: 2%;
}

/*--------------------------------image container-------------------------------------*/
#content-img{
	padding-top: 3em;
}
#img-container{
	border: 1px solid blue;
	width: 100vh;
	height: 100vh;
}
#demo{
	margin-top: 1em;
	margin-bottom: 1em;
}
#bonding{
background-color: #0A0A2A;
}
#bonding, ol{
margin-top: 1.5em;
text-align: center;
}
.Log{
	margin-left: 4%;
	border-radius: 50%;
}
#steps{
	width: 80%;
	margin-left: 10%;
	background-color: gray;
}
